@import "tailwindcss";
@import "tw-animate-css";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lato);
  --font-mono: var(--font-playfair-display);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0.75rem;
  --background: oklch(0.9703 0.007 88.64);
  --foreground: oklch(0.3431 0.0254 196.03);

  --card: oklch(0.9823 0.0029 84.56);
  --card-foreground: oklch(23.4% 0.04 255);

  --popover: oklch(98.2% 0.014 98);
  --popover-foreground: oklch(23.4% 0.04 255);

  --primary: oklch(0.5948 0.1344 6.21);
  --primary-foreground: oklch(100% 0 0);

  --secondary: oklch(92.5% 0.032 188);
  --secondary-foreground: oklch(47.6% 0.076 188);

  --muted: oklch(94.2% 0.016 98);
  --muted-foreground: oklch(55.4% 0.028 255);

  --accent: oklch(55.7% 0.108 188);
  --accent-foreground: oklch(100% 0 0);

  --destructive: oklch(62.6% 0.233 27);
  --destructive-foreground: oklch(100% 0 0);

  --border: oklch(0.9173 0.0133 82.4);
  --input: oklch(88.6% 0.02 98);

  --ring: oklch(64.6% 0.089 188);

  --sidebar-background: oklch(97.3% 0.018 98);
  --sidebar-foreground: oklch(23.4% 0.04 255);

  --sidebar-primary: oklch(64.6% 0.089 188);
  --sidebar-primary-foreground: oklch(100% 0 0);

  --sidebar-accent: oklch(92.5% 0.032 188);
  --sidebar-accent-foreground: oklch(47.6% 0.076 188);

  --sidebar-border: oklch(88.6% 0.02 98);
  --sidebar-ring: oklch(64.6% 0.089 188);
}

@layer base {
  * {
    @apply border-border;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-background text-foreground font-sans;
    line-height: 1.75;
  }
}
